:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
  --footer-color:#191919;
--main-transition-duration:0.3;

}
  *{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
      font-family: "Work Sans", sans-serif;
   margin: 0;
   padding:0;
   background-color: var(--section-color);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
   
}

*:focus{
  outline: none;
}
/* start side bare */
.events{
  display: flex;
  min-height: 100vh;
  
}
.side-bar{
background-color: white;
padding: 20px 0;
position: relative;
width: 230px;
 box-shadow: 0 0 10px #ddd;


}
@media(max-width:767px){
.side-bar {
    width: fit-content;
    padding: 10px 2px;
  }
}
@media(min-width:767px) and (max-width:991px){
  .side-bar {
    width: 200px;
            padding: 10px 0;
  }
}
.side-bar .logo{
color: var(--main-color);
    font-size: 35px;
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 50px;
}
@media(max-width:767px){
.side-bar .logo {
  font-size: 16px;
    padding-bottom: 15px; 
  }
}
.side-bar ul{
  padding: 0;
}
.side-bar ul li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}
.side-bar ul li:hover{
  background-color: var(--main-color);
}
.side-bar ul li:hover a {
  color: white;
}
.side-bar ul li a{
text-align: center;
display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.side-bar ul li a i{
  margin-right: 15px;
}
.side-bar ul li span{
   display: block;
   transition: var(--main-transition-duration);
}
@media(max-width:767px){
  .side-bar ul li a span {
    display: none;
  } 
}

/* end side bare */
/* start head */
.event-content{
  width: 100%;
}
.event-content header{
  background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-content header .main-title{
    position: relative;
    margin-left: 30px;
}

.event-content header .main-title::before ,
.event-content header .main-title::after{
  content: "";
    position: absolute;
    bottom: -6px;
    left: 0;  
    height: 3px;
   
}
.event-content header .main-title::before{
  width: 100%;
  background-color: var(--main-color);
  opacity: 0.5;
}
.event-content header .main-title::after{
  width: 60%;
  background-color: var(--main-color);

}
.event-content header .main-title h2{
    font-size: 35px;
}

@media(max-width:767px){
.event-content header .main-title{
  
    margin-left: 10px;
  }
  .event-contentheader .main-title h2{
  font-size: 25px;
  }
}

.event-content header .search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--section-color);
    border-radius: 30px;
    padding: 0 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-right: 80px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
   
}
@media(max-width:767px){
  .event-content header .search-box{
          width: 0;
        padding: 0;
        margin-right: 40px;
  }
.event-content header .search-box:focus-within{
width: 130px;
  }
  
}
@media(min-width:767px) and (max-width:991px){
 .event-content header .main-title h2{
    font-size: 28px;
}
.event-content header .main-title{
  
    margin-left: 11px;
  }
  .event-content header .search-box{
    margin-right: 5px;
  }
  .event-content header .search-b{
   width: 300px;
    padding: 7px 15px;
  }
}


.event-content header .search-box:hover {
  box-shadow: 0 2px 5px rgba(0, 117, 255, 0.3);
  transform: translateY(-2px);
}

.event-content header .search-box input {
 border: none;
 outline: none;
 width: 400px;
 padding: 10px 15px;
 font-size: 15px;
 background-color: var(--section-color);
 caret-color: var(--main-color);
 transition: var(--main-transition-duration);

}
@media (max-width: 767px) {
  .event-content header .search-box input {
    display: none;
   width: 130px;
   padding-right: 5px;
   height: 0;
  }

  .event-content header .search-box:focus-within input {
    display: block;
  

  }
}
@media (min-width: 767px) and (max-width:991px) {
  .event-content header .search-box input {
    
   width: 300px;
  padding: 7px 10px;
  }

}


.event-content header .search-box input::placeholder {
 color: #777;
 transition: var(--main-transition-duration);
}

.event-content header .search-box input:focus::placeholder {
  opacity: 0;
}

.event-content header .search-box button {
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
 padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.event-content header .search-box button:hover {
  background-color: #0056cc;
  transform: scale(1.1);
}

.event-content header .search-box button i {
  color: white;
  font-size: 18px;
}




/* end head */



/* start content */
.content{
display: grid;
grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
gap: 30px;
padding: 50px 30px;
align-items: stretch;
margin-bottom: 50px;
overflow: hidden;
}
@media(min-width:767px) and (max-width:991px){
  .content{
padding: 50px 0;
margin-left: 20px;
margin-right: 20px;
  }
}
.content .card-event{
 display: flex;
 flex-direction: column;
 background-color: white;
 position: relative;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.05);
 height: 100%;
 transition: var(--main-transition-duration);

}
.content .card-event:hover{
      transform: translateY(-3px);
     
}
.content .card-event .image{
     position: relative;
    overflow: hidden;
}
.content .card-event .image img{
   width: 100%;
    height: 150px;
     max-width: 100%;
      transition: var(--main-transition-duration); 
}
.content .card-event:hover img {
     transform: scale(1.05);
     -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
     -ms-transform: scale(1.05);
     -o-transform: scale(1.05);
}

.content .card-event .image span{
 position: absolute;
    display: block;
    top: 22px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
}
.content .card-event .info{
margin: 15px 20px;
flex-grow: 1;
    display: flex;
    flex-direction: column;


}
.content .card-event .info h3{
color: var(--font-color);
    font-size: 20px;
    margin-bottom: 12px;
    line-height: 1.5;
    overflow-wrap: break-word;
    word-wrap: break-word;
    
}
@media(max-width:767px){
.content .card-event .info h3{
  font-size: 17px;
}
}
.content .card-event .info .time{
     display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.content .card-event .info .time  span:first-of-type,
.content .card-event .info .time  span:last-of-type{
color: #777;
font-size: 15px;
}
.content .card-event .info .time  span:first-of-type i,
.content .card-event .info .time  span:last-of-type i{
color: var(--font-color);
    margin-right: 4px;
    font-size: 12px;
}

.content .card-event .info > p{
line-height: 1.5;
color: #777;
flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.content .card-event .info > a{
       color: white;
       font-weight: 600;
       font-size: 16px;
       background-color: var(--main-color);
       padding: 10px 20px;
       border-radius: 20px;
       display: block;
       width: fit-content;
       margin: 20px 0;
       transition:var(--main-transition-duration) ;
    
}
.content .card-event .info > a:hover{
   box-shadow:  0 0 10px var(--main-color) , 0 0 20px white ;

}

/* end content */



/* start footer */

footer{
  background-color: var(--footer-color);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@media(max-width:767px){
footer{
  flex-direction: column;
  gap: 20px;
}

}
footer .text{
  margin-left: 20px;
  flex:1;
}
@media(max-width:767px){
footer .text{
  margin-bottom: 10px;
}
}
footer .text .title {
  position: relative;
  width: fit-content;
      margin-bottom: 20px;
}
footer .text .title h3{
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
@media(max-width:767px){
footer .text h3{
  font-size: 20px;
}
}
footer .text .title::before{
   content: "";
    position: absolute;
    bottom: -6px;
    left: 0;  
    height: 3px;
  width: 50%;
  background-color: var(--main-color);
  opacity: 0.5;
}
footer .text p{
      line-height: 1.6;
    color: #ffffff96;
}
@media(max-width:767px){
footer .text p{
  font-size: 15px;
}
}
@media(min-width:767px) and (max-width:991px){
  footer .text .title h3{
    font-size: 20px;
  }
  footer .text p{
      font-size: 13px;
}
}

footer .subs{
  display: flex;
  flex-direction: column;
  gap: 10px;
    flex:1;

}
@media(max-width:767px){
footer .subs{
  margin-bottom: 20px;
}
}
footer .subs input{
 
    width: 80%;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 30px;
    margin: auto;
    transition: var(--main-transition-duration);
  
}


footer .subs input[type ="email"]{
   background-color: white;
       padding: 15px 20px;
       caret-color: var(--main-color);
}

  @media(min-width:767px) and (max-width:991px){
 footer .subs input[type ="email"]{
  padding: 10px 20px;
 }
  
}

footer .subs input[type ="email"]:focus{
  border: 1px solid var(--main-color);
}
footer .subs input[type ="email"]::placeholder{
  font-size: 15px;
  font-weight: 500;
  color: #777;
     transition:var(--main-transition-duration);
}
footer .subs input[type ="email"]:focus::placeholder{
  opacity: 0;
}
footer .subs input[type= "submit"]{
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
   
    
}
 @media(min-width:767px) and (max-width:991px){
footer .subs input[type= "submit"]{
  padding: 5px 20px;
 }
  
}
footer .subs input[type= "submit"]:focus{
  box-shadow: 0px 0px 10px white;
  transform: translateX(-3px);
}
@media(max-width:767px){
footer .subs input[type= "email"]{
     padding: 10px 20px;
     width: 100%;
}
footer .subs input[type= "submit"]{
  padding: 5px 20px;
        width: 100%;
}

}
/* end footer */
/* satrt modal */
 .modal {

  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  position: relative;
  animation: slideDown var(--main-transition-duration) ease;
  
}


@keyframes slideDown {
  from {
     transform: translateY(-50px); opacity: 0;
     }
  to { 
    transform: translateY(0); opacity: 1;
   }
}


#close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
}
.modal-content h2{
      color: var(--font-color);
    text-align: center;
    margin: 10px 0 19px;
    font-size: 25px;
    line-height: 1.5;
}
.modal-content label{
color: var(--font-color);
    font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  caret-color: var(--main-color);
  transition: var(--main-transition-duration);
  
}
 textarea {
  resize: none;
 }
.modal form input:focus::placeholder {
  opacity: 0;
}

.submit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.submit-btn:hover {
  background-color: #0056b3;
}

/* end modal */
