:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
  --footer-color:#191919;
--main-transition-duration:0.3;

}
  *{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
      font-family: "Work Sans", sans-serif;
   margin: 0;
   padding:0;
   background-color: var(--section-color);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
   
}

*:focus{
  outline: none;
}
/* start side bare */
.blog-details{
  display: flex;
  min-height: 100vh;
  
}
.side-bar{
background-color: white;
padding: 20px 0;
position: relative;
width: 230px;
 box-shadow: 0 0 10px #ddd;


}
@media(max-width:767px){
.side-bar {
    width: fit-content;
    padding: 10px 2px;
  }
}
@media(min-width:767px) and (max-width:991px){
  .side-bar {
    width: 200px;
            padding: 10px 0;
  }
}
.side-bar .logo{
width: 100%;
    padding: 10px 20px 30px;
}
@media(max-width:767px){
.side-bar .logo {
  font-size: 16px;
    padding-bottom: 15px; 
  }
}
.side-bar ul{
  padding: 0;
}
.side-bar ul li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}
.side-bar ul li:hover{
  background-color: var(--main-color);
}
.side-bar ul li:hover a {
  color: white;
}
.side-bar ul li a{
text-align: center;
display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.side-bar ul li a i{
  margin-right: 15px;
}
.side-bar ul li span{
   display: block;
   transition: var(--main-transition-duration);
}
@media(max-width:767px){
  .side-bar ul li a span {
    display: none;
  } 
}

/* end side bare */

.content{
padding: 30px 46px;
}
.content .header{
    display: flex;
    margin-bottom: 37px;
    flex-direction: column;

}
.content .header .title{
    color: var(--font-color);
    line-height: 1.7;
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;

}
.content .auteur{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content .auteur img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 8px;
}
.content .auteur .nameAut{
    font-size: 18px;
    font-weight: 500;
}
.content .auteur .date{
color:#777;
}
.content .header > img{
    width: 100%;
    border-radius: 15px;
   margin: 15px auto;
    height: 350px;
}
.content .pargraphes{
    
}
.content .pargraphes p{
font-size: 18px;
    line-height: 1.7;
}
.content .pargraphes .parg{
    margin: 20px 0;
}
.content .pargraphes .parg .tilte-p{
    color: var(--font-color);
    font-size: 22px;
    margin-bottom: 10px;
}
.parg {
    margin-bottom: 30px;
}


.content-row {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}


.content-p {
    flex: 1;
}


.content-row img {
    flex: 1;
    max-width: 100%;
    border-radius: 8px;
}









/* start comment */
.add-review{
  background-color: white;
    padding: 30px;
  box-shadow: 0 0 2px #00000070;
    border-radius: 5px;
    margin: 35px 0;
}
.add-review h2{
  color: var(--font-color);
    margin-bottom: 26px;
    font-size: 27px;
}



.form-group label{
  font-size: 20px;
    font-weight: 500;
}
.form-group textarea {
width: 100%;
    min-height: 120px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    resize: none;
    margin-top: 15px;
}



.add-review .btn-submit{
   margin-top: 15px;
   background-color: var(--main-color);
    padding: 10px 15px;
    border: none;
    border-radius: 11px;
    color: white;
    font-size: 19px;
    font-weight: 500;
   cursor: pointer;
 }


.all-comment{
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}
.all-comment h4{
  color:var(--font-color);
  font-size: 18px;
    padding: 0px 8px;
}
 .comment {
  background: var(--section-color);
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.user{
  display: flex;
    align-items: center;
    gap: 20px;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  color: #333;
}

.comment-date {
  font-size: 13px;
  color: #999;
  display: block;
    margin-top: 10px;
    text-align: end;
}

.comment-rating i {
  color: #f4b400;
  margin-right: 3px;
}

.comment-text {
  font-size: 15px;
  line-height: 1.5;
  color: #555;
  margin-top: 5px;
}