:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
  --footer-color:#191919;
  animation-delay: #777;
  -o-animation-delay: #777;
   --padding-section-top:50px;
  --pading-section-bottom:50px;

}
  *{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
      font-family: "Work Sans", sans-serif;
   margin: 0;
   padding:0;
   background-color: var(--section-color);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
   
}

*:focus{
  outline: none;
}
.contact-page{
    display: flex;
  
}
.side-bar{
background-color: white;
padding: 20px 0;
position: relative;
width: 230px;
box-shadow: 0 0 10px #ddd;


}
@media(max-width:767px){
.side-bar {
    width: fit-content;
    padding: 10px 2px;
  }
}
@media(min-width:767px) and (max-width:991px){
  .side-bar {
    width: 200px;
            padding: 10px 0;
  }
}
.side-bar .logo{
width: 100%;
    padding: 10px 20px 30px;
}
@media(max-width:767px){
.side-bar .logo {
  font-size: 16px;
    padding-bottom: 15px; 
  }
}
.side-bar ul{
  padding: 0;
}
.side-bar ul li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition-duration);
   
}
.side-bar ul li:hover{
  background-color: var(--main-color);
}
.side-bar ul li:hover a {
  color: white;
}
.side-bar ul li a{
text-align: center;
display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.side-bar ul li a i{
  margin-right: 15px;
}
.side-bar ul li span{
   display: block;
   transition: var(--main-transition-duration);
}
@media(max-width:767px){
  .side-bar ul li a span {
    display: none;
  } 
}

.contact{
display: flex;
padding-top: var(--padding-section-top);
padding-bottom: var(--pading-section-bottom);
gap: 30px;

}
@media(max-width:767px){
 .contact{
  flex-direction: column;
 }
}
.contact .image{
flex-basis: 50%;
    margin-left: 40px;
 
}
@media(max-width:767px){
 .contact .image{
  flex-basis: 100%;
   
 } 
}
.contact .image .img {
position: relative;
max-width: 100%;
  animation: up-down 5s linear infinite;
  -webkit-animation: up-down 5s linear infinite;
}
@keyframes up-down{
  0% ,100%{
    top:0;
  }
  50%{
    top: -50px;
  }
}
.contact .image .img img{
    max-width: 100%;
    width: 550px;
}
.contact .image .text{
    margin-left: 50px;
}
.contact .image .text h3{
color: var(--main-color);
    font-size: 40px;
    font-weight: bold;
}
.contact .image .text p{
color: #777;
    font-size: 17px;
    line-height: 1.6;
    margin: 10px 0;
    width: 79%;
}
.contact .image .social{
  display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
        margin: 20px 50px;
}
.contact .image .social li {
    list-style: none;

}
.contact .image .social li a {
    background-color: #c4c4c4;
    padding: 5px;
    font-size: 25px;
    color: var(--main-color);
    transition: var(--main-transition-duration);
    -webkit-transition: var(--main-transition-duration);
    -moz-transition: var(--main-transition-duration);
    -ms-transition: var(--main-transition-duration);
    -o-transition: var(--main-transition-duration);
}
.contact .image .social .facebook:hover{
 background-color:#1877F2 ;
 color: white;
}

.contact .image .social .twitter:hover{
 background-color:#1DA1F2 ;
 color: white;
}
.contact .image .social .instagram:hover{
background: linear-gradient(45deg, #F58529, #F77737, #E1306C, #833AB4);
color: white;
}

.contact .request{
  flex-basis: 50%;

}
@media(max-width:767px){
 .contact .request{
  flex-basis: 100%;
   margin: auto;
    padding: 20px;
            
 } 
}
@media(max-width:767px) and (max-width:991px){
 .contact .request{
  flex-basis: 100%;
   margin: auto;
    padding: 20px;

 } 
}
.contact .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.contact .content h2{
margin: 0;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact .content p{
    color: #777;
    margin: 9px 0 20px 0;
}
.contact .content form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact .content form .name-input{
  display: flex;
  gap: 40px;
}
.contact .content form input{ 
  padding:15px;
   width: 100%; 
   caret-color: var(--main-color);
}
.contact .content form input:focus::placeholder{
  opacity: 0;
}
.contact .content form input[type = "submit"]{
padding: 8px;
    width: 100%;
    background-color: var(--main-color);
    border: navajowhite;
    outline: none;
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.contact .content form .input{
resize: none;
padding: 15px;
min-height: 150px;
}
.contact .content form input:focus,
.contact .content form .input:focus{
  outline: none;
  border:2px solid var(--main-color);
box-shadow: 0 0 0 0.2rem rgba(0, 117, 255, 0.2);
  
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: fadeIn 0.5s ease-in-out;
    position: absolute;
    z-index: 999;
    width: 100%;
    -webkit-animation: fadeIn 0.5s ease-in-out;
}



@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}

    
}
