
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
      font-family: "Work Sans", sans-serif;

}
:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
 
}

body {
  background-color: var(--section-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
        font-family: "Work Sans", sans-serif;

}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}


.container {
  display: flex;
  width: 800px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.9s ease; 
  
}


@media(max-width:767px){
.container{
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
}


@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-80px);
}
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.form {
    flex: 1;
    padding: 23px 50px;

}

@media(max-width:767px){
.form{
order: 2;

}
}


.form .text{
      margin-bottom: 36px;

}
.text h2 {
 font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}
@media(max-width:767px){
  .text h2{
    font-size: 33px;
  }
}
.text p {
color: #777;
    margin-bottom: 20px;
    text-align: center;
    font-size: 11px;
}
@media(max-width:767px){
  .text p{
    font-size: 16px;
  }
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}


input{
 width: 100%;
    padding: 12px 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 14px;
    transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: var(--main-color);
}

#send {
    width: 100%;
    background: linear-gradient(to right, var(--main-color), #0048C1);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    font-size: 19px;
    transition: var(--main-transition-duration);
    margin-top: 12px;

}

#send:hover {
  background: linear-gradient(to right, #0048C1, var(--main-color));
  transform: scale(1.02);
}

.sing-in {
margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.sing-in p{
color: #777;
   
}

.sing-in a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
}


.img {
  flex: 1;
    padding: 50px 50px;
  background: linear-gradient(135deg, var(--main-color), #0048C1);
}
@media(max-width:767px){
.img{
order: 1;

}
}
.role-options {
    display: flex;
    gap: 40px; 
    margin-bottom: 10px;
    align-items: center;
}

.role-options div {
    display: flex;
    align-items: center;
    gap: 14px;
}

.role-options input[type="radio"] {
    accent-color: var(--main-color); 
    width: 18px;
    height: 18px;
}







