:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
  --footer-color:#191919;
   
}
*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
      font-family: "Work Sans", sans-serif;
   margin: 0;
   padding:0;
   background-color: var(--section-color);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
   
}

*:focus{
  outline: none;
}

.blog{
  display: flex;
  min-height: 100vh;
  
}
/* start side bare */
.side-bar{
background-color: white;
padding: 20px 0;
position: relative;
width: 230px;
 box-shadow: 0 0 10px #ddd;


}
@media(max-width:767px){
.side-bar {
    width: fit-content;
    padding: 10px 2px;
  }
}
@media(min-width:767px) and (max-width:991px){
  .side-bar {
    width: 200px;
            padding: 10px 0;
  }
}
.side-bar .logo{
width: 100%;
    padding: 10px 20px 30px;
}
@media(max-width:767px){
.side-bar .logo {
  font-size: 16px;
    padding-bottom: 15px; 
  }
}
.side-bar ul{
  padding: 0;
}
.side-bar ul li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition-duration);
   
}
.side-bar ul li:hover{
  background-color: var(--main-color);
}
.side-bar ul li:hover a {
  color: white;
}
.side-bar ul li a{
text-align: center;
display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.side-bar ul li a i{
  margin-right: 15px;
}
.side-bar ul li span{
   display: block;
   transition: var(--main-transition-duration);
}
@media(max-width:767px){
  .side-bar ul li a span {
    display: none;
  } 
}

/* end side bare */
/* start head */
.blog-content{
  width: 100%;
}
.blog-content .head{
  background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-content .head .main-title{
    position: relative;
    margin-left: 30px;
}

.blog-content .head .main-title::before ,
.blog-content .head .main-title::after{
  content: "";
    position: absolute;
    bottom: -6px;
    left: 0;  
    height: 3px;
   
}
.blog-content .head .main-title::before{
  width: 100%;
  background-color: var(--main-color);
  opacity: 0.5;
}
.blog-content .head .main-title::after{
  width: 60%;
  background-color: var(--main-color);

}
.blog-content .head .main-title h2{
    font-size: 35px;
}

@media(max-width:767px){
  .blog-content .head .main-title{
  
    margin-left: 10px;
  }
  .blog-content .head .main-title h2{
  font-size: 25px;
  }
}

.blog-content .head .search-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--section-color);
    border-radius: 30px;
    padding: 0 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-right: 80px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
   
}
@media(max-width:767px){
  .blog-content .head .search-box{
          width: 0;
        padding: 0;
        margin-right: 40px;
  }
.blog-content .head .search-box:focus-within{
width: 130px;
  }
  
}
@media(min-width:767px) and (max-width:991px){
 .blog-content .head .main-title h2{
    font-size: 28px;
}
.blog-content .head .main-title{
  
    margin-left: 11px;
  }
  .blog-content .head .search-box{
    margin-right: 5px;
  }
  .blog-content .head .search-b{
   width: 300px;
    padding: 7px 15px;
  }
}


.blog-content .head .search-box:hover {
  box-shadow: 0 2px 5px rgba(0, 117, 255, 0.3);
  transform: translateY(-2px);
}

.blog-content .head .search-box input {
 border: none;
 outline: none;
 width: 400px;
 padding: 10px 15px;
 font-size: 15px;
 background-color: var(--section-color);
 caret-color: var(--main-color);
 transition: var(--main-transition-duration);

}
@media (max-width: 767px) {
  .blog-content .head .search-box input {
    display: none;
   width: 130px;
   padding-right: 5px;
   height: 0;
  }

  .blog-content .head .search-box:focus-within input {
    display: block;
  

  }
}
@media (min-width: 767px) and (max-width:991px) {
  .blog-content .head .search-box input {
    
   width: 300px;
  padding: 7px 10px;
  }

}


.blog-content .head .search-box input::placeholder {
 color: #777;
 transition: var(--main-transition-duration);
}

.blog-content .head .search-box input:focus::placeholder {
  opacity: 0;
}

.blog-content .head .search-box button {
  background-color: var(--main-color);
  border: none;
  border-radius: 50%;
 padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.blog-content .head .search-box button:hover {
  background-color: #0056cc;
  transform: scale(1.1);
}

.blog-content .head .search-box button i {
  color: white;
  font-size: 18px;
}




/* end head */

/* start content */
.content{
display: grid;
grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
gap: 40px;
padding: 50px 30px;
align-items: stretch;
margin-bottom: 50px;
overflow: hidden;
}
@media(min-width:767px) and (max-width:991px){
  .content{
padding: 50px 0;
margin-left: 20px;
margin-right: 20px;
  }
}
.content .blog-card{
  background-color: white;
  position: relative;
  border-radius: 30px;
  padding: 20px;
  min-height: 185px;
    overflow: hidden;
box-shadow: 0 4px 6px rgba(0,0,0,0.1), 0 8px 20px rgba(0,0,0,0.05);
  transition:var(--main-transition-duration) ;
      display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
.content .blog-card::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #0000006e;
  border-radius: 30px;
  z-index: 2;
  transition:var(--main-transition-duration) ;
 
}
.content .blog-card:hover:before{
height: 0;

}
.content .blog-card:first-child {
  grid-column: span 2; 
  grid-row: span 2;    
}
@media(max-width:767px){
  .content .blog-card:first-child {
  grid-column: span 1; 
  grid-row: span 1;    
}
}
.content .blog-card:hover{
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.content .blog-card img{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
         object-fit: cover;
        border-radius:30px ;
        
}
.content .blog-card .card-content{
position: relative;
  z-index: 3;

 
}
.content .blog-card .card-content h3{
font-size: 11px; 
    color: white;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 20px;
  

}

.content .blog-card .card-content .btn{
    background-color: white;
    padding: 10px;
    color: var(--main-color);
    font-size: 14px;
    border-radius: 30px;
    display: block;
    width: fit-content;
    font-weight: 600;
    transition:var(--main-transition-duration) ;
   
}
.content .blog-card .card-content .btn:hover{
  background-color: var(--main-color);
  color: white;
}
.content .blog-card .card-content  .btn i{

}
/* end content */

/* start footer */

.footer{
  background-color: var(--footer-color);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
@media(max-width:767px){
.footer{
  flex-direction: column;
  gap: 20px;
}

}
.footer .text{
  margin-left: 20px;
  flex:1;
}
@media(max-width:767px){
.footer .text{
  margin-bottom: 10px;
}
}
.footer .text .title {
  position: relative;
  width: fit-content;
      margin-bottom: 20px;
}
.footer .text .title h3{
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
@media(max-width:767px){
.footer .text h3{
  font-size: 20px;
}
}
.footer .text .title::before{
   content: "";
    position: absolute;
    bottom: -6px;
    left: 0;  
    height: 3px;
  width: 50%;
  background-color: var(--main-color);
  opacity: 0.5;
}
.footer .text p{
      line-height: 1.6;
    color: #ffffff96;
}
@media(max-width:767px){
.footer .text p{
  font-size: 15px;
}
}
@media(min-width:767px) and (max-width:991px){
  .footer .text .title h3{
    font-size: 20px;
  }
  .footer .text p{
      font-size: 13px;
}
}

.footer .subs{
  display: flex;
  flex-direction: column;
  gap: 10px;
    flex:1;

}
@media(max-width:767px){
.footer .subs{
  margin-bottom: 20px;
}
}
.footer .subs input{
 
    width: 80%;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 30px;
    margin: auto;
    transition: var(--main-transition-duration);
  
}


.footer .subs input[type ="email"]{
   background-color: white;
       padding: 15px 20px;
       caret-color: var(--main-color);
}

  @media(min-width:767px) and (max-width:991px){
 .footer .subs input[type ="email"]{
  padding: 10px 20px;
 }
  
}

.footer .subs input[type ="email"]:focus{
  border: 1px solid var(--main-color);
}
.footer .subs input[type ="email"]::placeholder{
  font-size: 15px;
  font-weight: 500;
  color: #777;
     transition:var(--main-transition-duration);
}
.footer .subs input[type ="email"]:focus::placeholder{
  opacity: 0;
}
.footer .subs input[type= "submit"]{
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
   
    
}
 @media(min-width:767px) and (max-width:991px){
.footer .subs input[type= "submit"]{
  padding: 5px 20px;
 }
  
}
.footer .subs input[type= "submit"]:focus{
  box-shadow: 0px 0px 10px white;
  transform: translateX(-3px);
}
@media(max-width:767px){
.footer .subs input[type= "email"]{
     padding: 10px 20px;
     width: 100%;
}
.footer .subs input[type= "submit"]{
  padding: 5px 20px;
        width: 100%;
}

}
/* end footer */