:root {
  --main-color: #0075FF;
  --section-color: #F7F8FA;
  --font-color: #223A58;
  --main-transition-duration: 0.3s; 
  --footer-color:#191919;

 
}
  *{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}
html{
    scroll-behavior: smooth;
}
body {
      font-family: "Work Sans", sans-serif;
   margin: 0;
   padding:0;
   background-color: var(--section-color);

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
   
}

*:focus{
  outline: none;
}
/* start sidebare */
.cours-details{
  display: flex;
  min-height: 100vh;
  
}
.side-bar{
background-color: white;
padding: 20px 0;
position: relative;
width: 230px;
 box-shadow: 0 0 10px #ddd;


}
@media(max-width:767px){
.side-bar {
    width: fit-content;
    padding: 10px 2px;
  }
}
@media(min-width:767px) and (max-width:991px){
  .side-bar {
    width: 200px;
            padding: 10px 0;
  }
}
.side-bar .logo{
width: 100%;
    padding: 10px 20px 30px;
}
@media(max-width:767px){
.side-bar .logo {
  font-size: 16px;
    padding-bottom: 15px; 
  }
}
.side-bar ul{
  padding: 0;
}
.side-bar ul li{
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: var(--main-transition-duration);
   
}
.side-bar ul li:hover{
  background-color: var(--main-color);
}
.side-bar ul li:hover a {
  color: white;
}
.side-bar ul li a{
text-align: center;
display: flex;
    font-size: 17px;
    color: black;
    font-weight: 500;

}
.side-bar ul li a i{
  margin-right: 15px;
}
.side-bar ul li span{
   display: block;
   transition: var(--main-transition-duration);
}
@media(max-width:767px){
  .side-bar ul li a span {
    display: none;
  } 
}

/* end side bare */
/* start content */
.content{
    display: flex;
flex-direction: column;
}
.content .container{
  padding: 10px;
}

.course-main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    align-items: start;
}
@media(max-width: 991px){
  .course-main {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

.content .head{
    display: flex;
    gap: 30px;
    flex-direction: column;
        justify-content: center;
    align-items: center;
       
}
.content .head h2{
     color: var(--font-color);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.4;

}
.content .head img{
    max-width: 100%;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 15px #0000008f;
}
@media(max-width:767px){
    .content .head h2{
        font-size: 20px;

    }
    .content .head img{
width: 100%;
    height: 150px;
    }
}
/* .............. */

.card-details{
   background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 2px #00000070;
    margin: 0 auto;
 position: sticky;
  top: 20px;
    
  margin-top: 50px;

}
@media(max-width: 991px){
   .course-actions button {
    font-size: 14px;
  }
  .card-details {
   
     position: static;
     width: 80%;
     margin: 0 auto 30px ;
  }
}

@media(max-width: 767px){
  .course-actions button {
    font-size: 14px;
  }
   .card-details {
    position: static;
    margin-top: 20px;
  }
}


.card-details .price {
border-bottom: 1px solid #eee;
    padding: 10px 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: end
}
@media(min-width:767px) and (max-width:991px){
  .card-details .price{
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
  }
}
.price-values {
  display: flex;
  align-items: baseline;
}

.card-details .price .price-af{
color: var(--main-color);
    font-size: 50px;
    display: inline-block;
    margin-right: 22px;
    font-weight: 400;
}

.card-details .price .price-bef{
text-decoration: line-through;
    font-size: 35px;
    color: #ccc;
    font-weight: 400;
     display: inline-block;
}

.card-details .price .percentag{
    background-color: #0077ff94;
width: fit-content;
    padding: 2px;
    font-size: 13px;
    color: white;
    font-weight: 500;
    box-shadow: 0 0 2px #0000005e;
    border-radius: 16px;
}
@media(min-width:767px) and (max-width:991px){
.card-details .price .percentag{
  padding: 5px;
    font-size: 18px;
}
}


.card-details .info{
        padding: 0 30px;
}
.card-details .info p{

    font-size: 17px;
    margin-bottom: 10px;
    font-weight:300;
}
.card-details .info p strong{
    color: var(--font-color);
    font-weight: 500;
    margin-right: 5px;
}
.card-details .course-actions{
    padding:15px;
}
.card-details .course-actions button {
    display: block;
    padding: 7px 27px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    width: 100%;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    margin: 10px 0;
    transition: var(--main-transition-duration);
    
}
.card-details .course-actions button:hover{
  color: white;
  background-color: var(--main-color);
}
.card-details .course-actions button a{
  color:var(--main-color);
  
}
.card-details .course-actions button:hover a{
  color: white;
  z-index: 1;
}

 


 .details {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 30px;
  margin-top: 20px;
  margin-left: 30px;
}
@media(max-width:767px){
.details{
 padding:20px;
  margin:0;
}
}
@media(max-width: 991px){
  .details {
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 0;
  }
}

.instructor {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
    box-shadow: 0 0 2px #00000070;
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center
}
@media(max-width:767px){
.instructor{
 justify-content: center;
 gap: 10px;
 text-align: center;
}
}


.instructor img {
width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    margin-right: 26px;
}

.instructor h3 {
  font-size: 22px;
  color: var(--font-color);
  margin-bottom: 5px;
}
.instructor span {
  display: block;
  font-size: 15px;
  color: #777;
  margin-bottom: 15px;
  }
  
  .descr-instr {
  font-size: 15px;
  color: black;
  line-height: 1.6;
  text-align: justify;
  }
  
  .social {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
    }
    
    .social li a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: var(--section-color);
      color: var(--main-color);
      transition: var(--main-transition-duration);
      
}

.social li a:hover {
  background-color: var(--main-color);
  color: white;
  }
  
  
  .description {
    padding: 20px;
    }
    
    .description h3 {
      color: var(--font-color);
      font-size: 25px;
      margin-bottom: 20px;
      }
   

.description p {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}

.skills {
  padding: 20px;
  margin-top: 20px;
  }
  
  
  .skills h3 {
  color: var(--font-color);
  font-size: 18px;
  margin-bottom: 20px;
  font-size: 25px;
}

.skills ul {
  list-style: none;
  color: #333;
  font-size: 15px;
  line-height: 1.6;
}
.skills ul li {
  position: relative;
  padding-left: 25px; 
  margin-bottom: 20px;
}

.skills ul li::before {
  content: "\f14a"; 
  font-family: "Font Awesome 5 Free";
  font-weight: 900; 
  font-size: 15px;
  color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .planing {
    padding: 20px;
  }
  
  .planing > h2 {
    color: var(--font-color);
    font-size: 25px;
    margin-bottom: 20px;
  }
  .planing ul {
    position: relative;
    padding-left: 40px;
  }
  .planing ul::before{
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .planing ul li {
    margin-bottom: 20px;
  }
  .planing ul li h3{
    color: var(--font-color);
    font-size: 18px;
    margin-bottom: 15px;
    transition: var(--main-color);
    position: relative;
  }
  @media(max-width:767px){
  .planing ul li  h3{
  line-height: 1.6;
  }
  }
             .planing ul li h3:hover{
              color:var(--main-color)
             }
         .planing ul li h3::before{
    content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 56%;
    left: -21px;
    transform: translateY(-50%);
         }
             .planing ul li p {
               font-size: 15px;
               line-height: 1.5;
               color: #333;
               }
               













/* end content */